*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;

}body{
    background-image: linear-gradient(rgba(128, 128, 128, 0.295));
    opacity: 1;
   
    
    height: 100%;
    width:100%;
    
}
.head111{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
   
    
    background-color: black;
}
.btnresume{
    background: linear-gradient(45deg,orange,yellow,blue,violet);
    background-size: 400% 400%;
    animation: forexper 10s ease-in infinite;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    height: 60px;
    font-size: 15px;
    
    font-weight: bold ;
    
}
.btnresume a{
    text-decoration: none;
    color: white;
}
.btnresume:hover{
   
    transform: scale(1.3);
}
.skills-container
{
    display: grid;
    margin: 30px 250px;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 30px;
    
}
.imgskills img{
    width: 80px;
    height: 80px;
    border: 2px solid black;
    border-radius: 20%;
    box-shadow: 3px 3px 30px blueviolet;
    animation: fromLeft 2s ease;

}
.imgskills img:hover{
    background-color: aqua;
    transform: scale(1.2);

}

.headerimage{
    background-image: linear-gradient(to right,rgba(255, 140, 0, 0.888),rgba(119, 255, 0, 0.989),rgb(0, 255, 38));
    background-clip: text;
    color: transparent;
    font-size: 30px;
    
   

}
.header1{
    
    
    display: flex;
    justify-content: space-between;
    
    color: black;
    font-size: 15px;
    font-weight: bold ;
    margin-left: 200px;
    
    
}
.heading-Education{
    display: flex;
    
    justify-content: center;
    padding: 30px;
    margin: 20px 60px 30px 60px;
    border: 2px solid black;
    gap: 40px;
    border-radius: 20px;
    margin: 20px 200px;
   
}
.contact-me{
    display: flex;
    justify-content: space-evenly;
    
    padding-top: 20px;
    
}
.educationheadings{
    border: 1px solid black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    padding: 20px;
    border-radius: 10px;
}
.headddd{
    color: black;
    font-size: 15px;
    
    font-weight: bold ;
    padding: 5px;
    border: 1px solid black;
    border-radius: 10px;

    
}


.less{
    color: blue;
    font-size: 15px;
    font-weight: bold ;
    padding-right: 20px;
}
ul{
    text-decoration: none;
    list-style: none;
    display: flex;
    gap: 30px;
}
a{
    text-decoration: none;
    
    
}
.navbar{
    margin-right: 30px;
    width:50%;
}
.navabar{
    color: black;
    font-size: 15px;
    font-weight: bold ;
    padding: 5px;
    border: 1px solid black;
    border-radius: 20%;
    background: linear-gradient(45deg,orange,yellow,violet);
    background-size: 400% 400%;
    animation: forexper 10s ease-in infinite;
    
}
.navul:hover{
   
    transform: scale(1.2);

}
.social{
    display: flex;
    gap: 50px;
    margin-right: 50px;
    
}
img{
    width: 20px;
    height: 20px;
    
}
#linkedin11{
    width: 50px;
    height: 20px;
    border-radius: 5px;
    
}
.mainleftside{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-right: 50px;
    
}
.line1{
    border: 8px solid rgb(0, 0, 0);
    width: 200px;
    
    height: 5px;
    border-radius: 20px;
    
}
.bodypage1{
    display: flex;
    
    padding-top: 30px;
    padding-left: 100px;
     padding-right: 100px;
      padding-bottom: 100px;
    
}
.namehead{
  
   font-size: 30px;
   padding-top:30px ;
   padding-bottom: 30px;
}
.linedis{
    padding-top: 10px;
    font-size: 20px;
    
}
.rightside{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 80px;
    width: 50%;
}
.aboutme{
    border: 2px solid black;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 20px;
    background-color: aliceblue;
}
#mainimage{
    width: 350px;
    height: 350px;
    margin-left: 90px;
    margin-bottom: 30px;
    border-radius: 30%;
    box-shadow: 3px 3px 30px blueviolet;
    animation: fromLeft 2s ease;
}
.social{
    padding-left: 50px;
}
.skills1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    margin: 50px;
   border: 2px solid black;
}
.heading-skills{
    text-align: center;
}

.heading-Experience{
    display: flex;
    margin: 20px 30px 30px 60px;
    justify-content: center;
    padding: 30px;
    border: 2px solid black;
    gap: 20px;
    height: 100vh;
    border-radius: 20px;
    margin: 20px 160px 30px 200px;
    background: linear-gradient(gray);
    animation: forexper 8s ease infinite;
    
  
}
.experienceheading{
    display: flex;
    flex-direction: column;
    height: 100%;
    border-radius: 20px;
    border: 2px solid black;
    background-color: aliceblue;
    
    
}
.experienceheading img{
    width: 100%;
    height: 50%;
    image-resolution: from-image;
    border-radius: 18px 18px 0px 0px;
    border: 2px solid black;
    
    
}
.experienceheading ul{
    list-style: none;
    padding-left: 20px;
    font-size: 18px;
    display: flex;
    
    flex-direction: column;
    gap: 10px;

}
.experienceheading h3{
    text-align: center;
    font-weight: bold ;
    padding: 30px;
    color: blue;
}
.experienceheading p{
    padding-bottom: 10px;
    padding-left: 20px;
    color: black;
    font-size: 15px;
    font-weight: bold ;
}
.experienceheading li{
    text-align: justify;
    font-size: 15px;
    color: black;
    
}
.heading-Education{
    display: flex;
    
    justify-content: space-around;
    padding: 30px;
    
    margin: 20px 160px 30px 160px;
    border: 2px solid black;
    gap: 10px;
    border-radius: 20px;
    background-color: gray;
}
.line2{
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: green;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 30px blueviolet;
}
.line3{
    position: fixed;
    bottom: 90px;
    right: 20px;
    background-color: red;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 30px blueviolet;
}
.line2 a,.line3 a{
    color: white;
    font-size: 30px;
}
.line2:hover,.line3:hover{
    transform: scale(1.2);
   
}
.educationheadings {
    border: 1px solid black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: aliceblue;
}
.heading-Projects{
    display: flex;
    justify-content: space-around;
    padding: 30px;
    margin: 20px 200px 30px 200px;
    border: 2px solid black;
   
    border-radius: 20px;
}
.projectsheading{
    border: 2px solid black;
   
    border-radius: 20px;
    background-color: aliceblue;
    width: 400px;
    height: 500px;
    box-shadow: 3px 3px 30px blueviolet;
    
}
.projectsheading img{
    width: 100%;
    height: 50%;
    border-radius: 18px 18px 0px 0px;
    
}
.projectsheading h2{
    text-align: center;
    font-weight: bold ;
    padding: 20px;
    color: blue;
}
.projectsheading p{
    padding: 20px;
    color: black;
    font-size: 18px;
    
}
.heading-Awards{
    display: flex;
    justify-content: center;
    
   
    
}
.navul {
    transition: transform 0.3s ease;
}
.heading-Certificates{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    margin: 20px 200px 30px 200px;
    border: 2px solid black;
   
    border-radius: 20px;
}
.awardsheading{
    border: 2px solid black;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
    background-color: aliceblue;
    font-size: 20px;
    font-weight: bold ;
    box-shadow: 3px 3px 30px blueviolet;
}

.educationheadings :hover{
    background-image: linear-gradient(rgba(56, 96, 104, 0.699),blueviolet);
    background-clip: text;
   color: transparent;
    
    transform: scale(1.1);
}

@keyframes fromLeft {
    0%{
        transform: translateX(-60px);
    }
    100%{
        transform: translateX(0px);
    }
}
@keyframes forexper{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 80% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}
