*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}
body{
    background-color: rgba(0, 0, 0, 0.888);
    border-top: 5px solid yellow;
    padding-top: 10px;
    padding-left: 20px;
}
.headerr{
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 1%;
    
   
    
}
.menuu{
    width:40%;
    color: yellow;
    
}
.webbb{
    font-size: 30px;
    color: yellow;
    width: 55%;
}
.button1{
    border:3px solid black;
    width: 160px;
    height: 38px;
    border-radius: 20px;
    background-color: yellow;
}
#image1{
    float: right;
    color: yellow;
    border-radius: 100%;
}
#classss{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.classsss11{
    color: yellow;
    align-items: center;
   padding-top: 80px;
    text-align: center;

}
#hhhh{
    font-size: 35px;
    align-items: center;
    padding-bottom: 20px;
}
#hhhh111{
    font-size: 17px;
   
    
}
.heading111{
    padding-top: 30px;
    font-size: 30px;
    
    background-image: linear-gradient(rgba(255, 255, 0, 0.621),rgba(255, 255, 0, 0.733),white);
    
    color: transparent;
    background-clip: text;
    
    text-align: center;

}
.ggggg{
    border-bottom: 3px solid yellow;
}
.listofitems{
    display: inline-block;
    display: flex;
    flex-direction: row;
    gap: 350px;
    padding: 20px;
}
.figcaption1{
    text-align: center;
    font-size: 30px;
    color: yellow;

}
a{
    width:20px;
    color: yellow;
     gap: 20px;
     text-align: center;
    
}
.img1{
    width: 250px;
    height: 300px;
    border-radius: 20px;
    
   
}
.classsssssss{
    color: yellow;
    text-align: center;
    border: 1px solid black;
    box-shadow: 10px 10px 19px;
    border-radius: 20px;
    margin-top: 150px;
    
    
    background-image: linear-gradient(to right,rgba(255, 255, 255, 0.196),black);
    
    
}
.listof{
    display: flex;
    column-gap: 50%;
    padding: 10%;
    
}
iframe{
    border-radius: 10px;
    box-shadow: 10px 10px 10px blue;
}
.xxxxxx{
   
    color: yellow;
    list-style: none;
    display: inline;

}
ol{
    
    
    border:1px solid yellow;
    border-radius: 10px;
    width: 150px;
    color: yellow;
    background-image: linear-gradient( rgba(255, 255, 255, 0.543),black);
    

}
.hhhhhhhhhh{
   
    padding-top: 90px;
    font-size: 19px;
    padding-left: 500px;
    gap: 10px;
    color: yellow;
    display: flex;
}
.menuu2{
    border: 2px solid yellow;
}
.webbb2{
    border: 2px solid yellow;
}
.button2{
    border: 2px solid yellow;
    
}